.scrollup{
    position: fixed;
    right: 2.5rem;
    bottom: 3rem;
    background-color: #191b1d;
    opacity: 0.8;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    z-index: 1;
    transition:.4s;
    display: none;
}

.scrollup__icon{
    font-size: 1.5rem;
    color: aliceblue;
}

.scrollup:hover{
    background-color: aliceblue;
}
.scrollup__icon:hover{
    color: black;
}


/* Show scroll */ 

.show-scroll{
    display: block;
    bottom: 3rem;
}





@media screen and (max-width: 992px){

    .scrollup{
        right: 1.5rem;
        padding: 0.25rem 0.4rem;
     }
    
     .scrollup__icon{
        font-size: 1.25rem;
     }

}


@media screen and (max-width: 768px){
    .scrollup{
        display: none;
       }
}
